.projectsWrapper {
    height: 100vh;
    background-color: darksalmon;
}

.projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.projects {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}