.wrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 250px;
    text-align: center;
    padding: 20px;
}

.image {
    text-align: center;
    margin: 0 auto;
    width: 230px;
    height: 200px;
    background-color: cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.watchMore {
    width: 70px;
    height: 25px;
    border: 2px solid ;
}

.text {

}

.projectTitle {

}

.projectDescr {

}